# Telegram Bot
BOT_TOKEN='8554573144:AAF3fZyEc1ZTTk--DJxPiBZ1uj-0H5wpTLk'
ADMIN_IDS='5359650920'

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=media_downloader
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis & Celery
REDIS_URL=redis://redis:6379/0

# Storage
STORAGE_DIR=./storage
CLEANUP_INTERVAL_MINUTES=30

# Limits
MAX_PLAYLIST_SIZE=50
MAX_CONCURRENT_JOBS_PER_USER=2
MAX_FILE_SIZE_MB=50
